<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>GreenVision</title>
	<link rel="stylesheet" href={{ url_for('static', filename='/CSS/Home.css') }} type="text/css">
	<script src={{ url_for('static', filename='/Header.js') }}></script>
</head>
<body>
	<div class="latarbelakang1" id="home"></div>
	<div class="kepala">
		<div class="wadah">
			<div class="kolom-kiri">
				<div class="kontrol-musik">
					<audio id="myAudio" hidden autoplay loop>
  						<source src="static/Musik/Backmusik.mp3" type="audio/mpeg">
						Browsermu tidak mendukung tag audio
					</audio>
					<button onclick="playAudio()" type="button" class="button" id="mulai">
						<img alt="Music" src="{{ url_for('static', filename='/Pixel/MusicOn.png') }}" class="audio" id="pictmulai">
					</button>
					<button onclick="pauseAudio()" type="button" class="button" id="jeda" style="opacity: 0;">
						<img alt="Music" src="{{ url_for('static', filename='/Pixel/MusicOn.png') }}" class="audio" id="pictjeda">
					</button>
				</div>
				<img src="static/Pixel/2-NoBG.png" id="logo">
				<div class="rumah">
					<a href="#home">GreenVision</a>
				</div>
				<div class="menu-kiri">
					<a href="#home">Home</a>
					<a href="#party">Anggota</a>
					<a href="#chatbot">ChatBot</a>
					<a href="#predict">Predict</a>
				</div>
			</div>
			<script>
				// Mengambil semua elemen <a> di dalam <div class="menu-kiri">
				const links = document.querySelectorAll('.menu-kiri a');
			  
				// Menambahkan event listener ke setiap elemen <a>
				links.forEach(link => {
				  link.addEventListener('click', function(e) {
					e.preventDefault(); // Menghentikan aksi default saat mengklik link
			  
					const target = this.getAttribute('href'); // Mendapatkan nilai atribut href
			  
					// Menggunakan smooth scrolling ke elemen target
					document.querySelector(target).scrollIntoView({
					  behavior: 'smooth'
					});
				  });
				});
			  </script>
			<div class="kolom-kanan">
				<div class="menu-kanan">
					
				</div>
			</div>
		</div>
	</div>
	<div class="main1">
		<div class="main1-judul">
			Environmental Conservation <br>
			<p>&nbsp&nbsp by Group 1 of the Fibonacci class</p>
		</div>
		<div class="main1-konten">
			Smart Chatbot <br> GreenVision
		</div>
	</div>
	<div style="color: #1b422c;background-color:rgb(99, 71, 20);text-align:center;padding:50px 200px;text-align: justify;">
		<h1 style="text-align:center;">GreenVision</h1>
		<br>
		<p style=" font-size: large;">&nbsp &nbsp GreenVision adalah aplikasi chatbot pintar yang didedikasikan untuk konservasi lingkungan. Dengan fitur interaktif dan saran praktis, pengguna dapat dengan mudah menjalankan praktik lingkungan yang baik. Aplikasi ini juga memberikan pemantauan lingkungan real-time dan memfasilitasi kolaborasi dalam komunitas peduli lingkungan. Bersama GreenVision, kita dapat menjadi agen perubahan untuk menjaga keberlanjutan bumi.
		<br><br>
		&nbsp &nbsp Dengan GreenVision, pengguna dapat dengan mudah mengajukan pertanyaan, mendapatkan informasi, dan berinteraksi dengan chatbot yang pintar mengenai berbagai aspek lingkungan. Aplikasi ini menyediakan beragam fitur dan layanan untuk membantu pengguna menjadi lebih sadar akan pentingnya konservasi alam dan mengambil tindakan nyata.
		<br><br>
		&nbsp &nbsp Salah satu fitur utama dari GreenVision adalah kemampuannya untuk memberikan informasi tentang praktik lingkungan yang baik. Chatbot ini mampu memberikan saran tentang cara mengurangi jejak karbon, mengelola sampah dengan bijaksana, menghemat energi, dan menggunakan sumber daya alam secara berkelanjutan. Pengguna dapat mendapatkan panduan praktis dan solusi yang dapat diterapkan dalam kehidupan sehari-hari mereka untuk membantu melindungi lingkungan.</p>
	</div>
	<div class="latarbelakang2" id="party"></div>
	<div class="main2">
		<div class="main2-judul">
			<h1> Anggota </h1>
		</div>
		<page1 class="main2-page1">
			<icon>
				<img src="static/Pixel/ramdan.jpg" style="height: 200px;">
			</icon>
			<br>
			<judul>
				<strong>Ramdan Kurnia</strong>
			</judul>
			<p>
				<span style="font-size: larger;">AS</span> ( Front End & Back End )
			</p>
		</page1>
		<page2 class="main2-page1">
			<icon>
				<img src="static/Pixel/tri.jpeg" style="height: 200px;">
			</icon>
			<br>
			<judul>
				<strong>Tri Febriyanto</strong>
			</judul>
			<p>
				<span style="font-size: larger;">AS</span> ( Lead Back End )
			</p>
		</page2>
		<page3 class="main2-page1">
			<icon>
				<img src="static/Pixel/sipa.jpeg" style="height: 200px;">
			</icon>
			<br>
			<judul>
				<strong>Nursyifa Zahra Addaraeni</strong>
			</judul>
			<p>
				<span style="font-size: larger;">AS</span> ( Assisten Back End )
			</p>
		</page3>
		<page4 class="main2-page1">
			<icon>
				<img src="static/Pixel/emil.jpg" style="height: 150px;">
			</icon>
			<br>
			<judul>
				<strong>Desiana Elsa Emilia</strong>
			</judul>
			<p>
				<span style="font-size: larger;">AS</span> ( Video Editor )
			</p>
		</page4>
		<page5 class="main2-page1">
			<icon>
				<img src="static/Pixel/fitri.jpg" style="height: 200px;">
			</icon>
			<br>
			<judul>
				<strong>Fitriya Herawati</strong>
			</judul>
			<p>
				<span style="font-size: larger;">AS</span> ( Assisten Video Editor )
			</p>
		</page5>
	</div>
	<div style="color: whitesmoke;background-color:rgb(99, 78, 20);text-align: right;padding: 50px 150px 50px 50%;text-align: justify;">
		<div style="text-align: right;">
			<l>With AI chatbots <br> We raise living standards </l>
			<p>A maintained environment increases productivity and increases morale for humans and nature itself, with GreenVision, let's form a more decent earth together</p>
		</div>
	</div>
	<div class="latarbelakang3" id="chatbot"></div>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<div class="main3">
		<div class="main3-page1">
		  <div id="chat-container">
			<div id="message-container">
			  <script>
				$(document).ready(function() {
				  $('#message-container').append('<div class="message outgoing"><img src="static/Pixel/2-NoBG.png" alt="Bot Avatar" class="avatar"><p>Selamat datang! Silahkan mulai percakapan.</p></div>');
	  
				  function toggleSendButton() {
					var userInput = $('#user-input').val();
					if (userInput.trim() === '') {
					  $('#send-button').prop('disabled', true);
					  $('#send-button').css('background-color', '#aae4b815');
					  $('#button-text').css('color', '#cfcfcf');
					} else {
					  $('#send-button').prop('disabled', false);
					  $('#send-button').css('background-color', '#aae4b89c');
					  $('#button-text').css('color', '#0c0c0c');
					}
				  }
	  
				  $('#chat-form').on('submit', function(event) {
					event.preventDefault();
					var user_input = $('#user-input').val();
					$('#user-input').val('');
	  
					$('#message-container').prepend('<div class="message incoming"><p>' + user_input + '</p> &nbsp&nbsp <img src="static/Pixel/verified-user.png" alt="User Avatar" class="avatar"></div>').children(':first').hide().fadeIn(300, function() {
					  setTimeout(function() {
						$.ajax({
						  url: '/chat',
						  type: 'POST',
						  data: {user_input: user_input},
						  success: function(response) {
							$('#message-container').prepend('<div class="message outgoing"><img src="static/Pixel/2-NoBG.png" alt="Bot Avatar" class="avatar"><p>' + response.response + '</p></div>').children(':first').hide().fadeIn(300);
						  }
						});
					  }, 500);
					});
	  
					toggleSendButton();
				  });
	  
				  $('#user-input').on('input', function() {
					toggleSendButton();
				  });
				});
			  </script>
			</div>
			<div id="input-container">
			  <form id="chat-form" action="/chat" method="post" style="width: 100%; display: flex;">
				<input type="text" id="user-input" placeholder="Type a message...">
				<button type="submit" id="send-button" disabled>
				  <span class="button-text">Send</span>
				  <div class="send-icon-container">
					<img src="static/Pixel/icon-tombol(putih).png" alt="Send" class="send-icon-black">
					<img src="static/Pixel/icon-tombol(hitam).png" alt="Send" class="send-icon-white">
				  </div>
				</button>
			  </form>
			</div>
		  </div>
		</div>
	  </div>								  
	<div style="color: whitesmoke;background-color:rgb(104, 99, 71);text-align: right;padding: 30px 150px 30px 6%;text-align: justify;">
		<div style="text-align: center;">
			<center><l> Great With Simple AI <br> Complex but Classic Identify <br> Scan your waste and let's find out </l><br>
			<img src="static/Pixel/background-tombol.png" alt=""></center>
		</div>
	</div>
	<div class="latarbelakang4" id="predict"></div>
	<div class="main4">
		<div class="main4-page1">
		  <div id="scan-container">
			<div id="image-preview"></div>
			<div id="result" style="display: flex;flex-direction: column;"></div>
			<form action="/predict" method="post" enctype="multipart/form-data" class="form2">
			  <div class="button-container">
				<div class="file-input-wrapper">
				  <label class="browse-button" for="file-input">Browse</label>
				  <input id="file-input" type="file" name="image" accept="image/*">
				</div>
				<input type="submit" value="Predict" class="predict-button">
			  </div>
			</form>
		  </div>
		</div>
	</div>
	  
	<script>
		const fileInput = document.getElementById("file-input");
		const imagePreview = document.getElementById("image-preview");
		const resultContainer = document.getElementById("result");

		fileInput.addEventListener("change", function(event) {
		const file = event.target.files[0];
		const fileReader = new FileReader();

		fileReader.onload = function(event) {
			const imageURL = event.target.result;
			imagePreview.innerHTML = `<img src="${imageURL}" alt="Preview">`;
		};

		fileReader.readAsDataURL(file);
		});

		const predictButton = document.querySelector(".predict-button");
		const form = document.querySelector(".form2");

		form.addEventListener("submit", function(event) {
		event.preventDefault();
		resultContainer.innerHTML = "Loading...";

		const formData = new FormData(form);

		fetch("/predict", {
			method: "POST",
			body: formData
		})
			.then(response => response.json())
			.then(data => {
			resultContainer.innerHTML = `Hasil &nbsp<span class="result-text">${data.response}</span>`;
			})
			.catch(error => {
			resultContainer.innerHTML = "An error occurred";
			const errorText = document.createElement("span");
			errorText.innerHTML = "(Pastikan gambar memiliki format jpg atau png dan ukuran gambar tidak lebih besar dari 1 MB)";
			errorText.style.color = "rgb(211, 0, 0)";
			errorText.style.fontSize = "0.5em";
			errorText.style.marginTop = "10px";
			resultContainer.appendChild(errorText);
			});
		});
	</script>
	<!--
	<div class="latarbelakang5">
		<center>
			<iframe width="967" height="544" src="https://www.youtube.com/embed/CzUiYIX3Sx4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="padding-top: 50px;"></iframe>
		</center>
	</div>
	-->
	<frameset>
		<iframe name="bottom" scrolling="no" width="100%" target="contents" frameborder="0" height="68px" src="{{ url_for('static', filename='/footer.html') }}"></iframe>
	</frameset>
</body>
</html>